body {
	
	<!-- background-image: url("https://img00.deviantart.net/c826/i/2010/126/9/4/misty_mountain_weather_5_by_sveltephoto.jpg");	-->
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-color: white;

}

p2 {
    float: right;
color: black;
background-color:white;
font-family: Avenir;
margin-top:20px;
margin-right:50px;

}


/* Top NaV */

.topnav {
	background-color: ##AFEEEE;
    position: fixed;
    overflow: hidden;
    display: inline-block;
    z-index: 4;


}

.topnav a {
    float: left;
    color: #c18a62;
    text-align: center;
    padding: 14px 16px;
    font-family: Arial;
    text-decoration: none;
    font-size: 18px;
    border-bottom-left-radius: 20px;	
}

.topnav button {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-family: comic sans;
    text-decoration: none;
    font-size: 17px;
    border-bottom-left-radius: 20px;	
    background-color: #8DC795;
    opacity: 50%; 	
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    border-style: solid;
    color: black;
}


.loginbutton{
    float: right;
    position: fixed;
    right: 20px;
    background-color: #ddd;
    border-bottom-left-radius: 20px;  
}

.loginbutton:hover{
    border-style: solid;
}


/* Writing HTML STYLESHEET*/

.writing-grid-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding-top: 75px;
    align-content: center;
}

.robot-writing{
    grid-row-start: 1; 
    grid-column-start: 1; 
    justify-content: center;
}

.forest-writing{
    grid-row-start: 1; 
    grid-column-start: 2; 
    justify-content: center;
}

.picture:hover {
    opacity: 0.5;
}

.img-description {
   vertical-align: middle;
   position: absolute;
    visibility: hidden;
    opacity: 0;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.writing-element:hover .img-description{
  visibility: visible;
  opacity: 1;
}


/* LOGIN BUTTON */





/* Upload Button 


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor 
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}




/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* File Server Buttons */

.dirTable {
    clear: both;
    float: left;
    padding: 15px;
    font-size: 20px;
    margin-top: 50px;
    background: white;
    /*border-collapse: collapse; */
}

.dirTable tr:nth-child(even) {
  background-color: rgba(171, 168, 167, 0.2);
  opacity: 70%;

}


.dirTable td{
    padding: 20px; 
}

.dirTable th{
    border: 2px solid;
    border-color: grey;

}





































